@use '../../scss/abstracts/variables' as v;
@use '../../scss/abstracts/mixins' as m;

header {
    height: 150px;
    width: 100%;
    background-color: v.$primary_color;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    @include m.marginBottom;
}