// 640px, 1150px, 1400px

$breakpoints-up: (
    'medium': '40em',
    'large': '71.875em',
    'xlarge': '87.5em',
);

// 639px, 1149px, 1399px
$breakpoints-down: (
    'small': '39.9375em',
    'medium': '71.8125em',
    'large': '87.4375em',
);

@mixin breakpoint($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}

// Colors

// Display

@mixin center($display: flex) {
    display: $display;
    justify-content: center;
    align-items: center;
}

// Margins

@mixin margin-sides {
    margin-left: 100px;
    margin-right: 100px;
}

@mixin margin-bottom {
    margin-bottom: 60px;
}

// Paddings
@mixin padding-standard {
    padding: 1.5rem;
}

// Icons

@mixin icon-size_medium {
    width: 24px;
    height: 24px;
}
