// 640px, 1150px, 1400px


$breakpoints-up: (
	'medium': '40em',
	'large': '71.875em',
	'xlarge': '87.5em',
);

// 639px, 1149px, 1399px
$breakpoints-down: (
	'small': '39.9375em',
	'medium': '71.8125em',
	'large': '87.4375em',
);

@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

// Colors

@mixin gradient-background {
	background: rgb(152, 223, 175);
	background: linear-gradient(315deg, rgba(152, 223, 175, 1) 50%, rgba(67, 189, 107, 1) 100%);
}

// Display

@mixin center($display: flex) {
	display: $display;
	justify-content: center;
	align-items: center;
}