@use './variables' as v;

//Fonts
$font_body: 'Crimson Text', 'Courier New', Courier, monospace;
$font_title: 'Chivo Mono', Arial, sans-serif;
$font_sizes: (
	small: 16px,
	medium: 20px,
	large: 24px,
	xlarge: 36px,
);


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font_title;
}

h1,
h2,
h3 {
	margin-top: 0;
	margin-bottom: 1.5rem;
	line-height: 1.1;
	// font-size: map-get($font_sizes, xlarge);
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.2rem;
	margin-bottom: 1rem;

}

a,
a:visited,
a:active {
	font-size: 1.5rem;
	font-family: $font_title;
	text-decoration: none;
	color: inherit;
}

select,
option,
button {
	color: inherit;
	font-family: $font_title;
	font-size: 1rem;
}

p,
em,
strong,
span {
	color: v.$font-black;
}
