// Colors UI

$primary_color: #98dfaf;
$secondary_color: #d6c9c9;
$tertiary_color: #f3eded;

// Colors fonts

$font-black: rgb(15, 9, 9);
$font-white: #f3eded;

// Colors apps

$color_html: #e34d26;
$color_css: #0070bb;
$color_postman: #fd6d44;
$color_react: #087ea4;
$color_sass: #cd6aa0;
$color_node: #5da34f;
$color_js: #F0DB4F;
$color_swagger: #49a22a;


