@use '../../scss/abstracts/animations' as *;

.card-wrapper {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 8px;
    margin-bottom: 2rem;
    cursor: pointer;
    filter: grayscale(0.8);
    transition: all 250ms ease;

    &:hover {
        box-shadow:
            rgba(50, 50, 93, 0.3) 0px 30px 60px -12px,
            rgba(0, 0, 0, 0.35) 0px 18px 36px -18px;
        filter: grayscale(0);
    }

    .card-image img {
        width: 100%;
        height: 425px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &.visible {
        animation-name: fadeInCard;
        animation-duration: 1000ms;
        animation-iteration-count: 1;
    }
}
