@use '../../scss/abstracts/mixins' as m;
@use '../../scss/abstracts/variables' as v;


.skills-section {
    
    background-color: v.$tertiary-color;
    @include m.margin-bottom;
    @include m.padding-standard;

    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, auto);

        .skills-block {
            @include m.padding-standard;
        }
    }

    .tools-container {
        .tools-block {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
    }
}
