@use '../../scss/abstracts/mixins' as m;

.skills-section {

    @include m.gradient-background;
    @include m.margin-sides;
    @include m.margin-bottom;
    @include m.padding-standard;

    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, auto);

        .skills-block {
            @include m.padding-standard;
        }

    }
    
    .tools-container {

        .tools-block{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
    }
}