@use '../../scss/abstracts/typography' as t;

//TODO: Create classes for each color of the progress bar and assign it to background color 

.progress-bar-container {
    display: flex;
    flex-direction: column;
}

.progress-bar-label {
    font-family: t.$font-title;
    font-size: 1rem;
    margin-bottom: 8px;
}

.progress-bar {
    flex-grow: 1;
    position: relative;
}

.progress-bar-filled {
    transition: width 0.3s ease-in-out;
}

.progress-bar-rating {
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
}