.btn {
    width: auto;
    height: auto;
    display: flex;
    gap: 1rem;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px black;
    padding: 10px;
    cursor: pointer;
    transition: all 150ms ease-out;

    &:hover {
        scale: 1.025;
    }
}

.btn-toTop {
    position: fixed;
    bottom: 10%;
    right: 5%;
}
