@use '../../scss/abstracts/mixins' as m;
@use '../../scss/abstracts/variables' as v;

.heroSection {
    @include m.margin-bottom;
    @include m.padding-standard;

    display: grid;
    grid-template-areas: none;
    grid-template-columns: 1fr 1fr;

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h2 {
            font-size: 3rem;
        }

        .paragraph-container {
            padding: 1rem;
        }

        .btn-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            padding: 1.5rem;
        }
    }

    .imgContainer {
    }
}
