@use '../../scss/abstracts/mixins' as m;
@use '../../scss/abstracts/variables' as v;

.heroSection {
    @include m.margin-bottom;
    @include m.margin-sides;

    display: grid;
    grid-template-areas: none;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h2 {
            font-size: 3rem;
            width: auto;
            text-decoration: none;
        }

        .paragraph-container {
        }

        .btn-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
            row-gap: 2rem;
        }
    }

    .imgContainer {
    }
}
