nav {

    display: flex;
    justify-content: space-between;

    a {
        gap: 1rem;

        a:hover {
            text-decoration: underline;
        }
    }
}



.active {
    color: inherit;
    font-weight: 600;
}

.pending {
    color: inherit;
    text-decoration: none;
}