nav {

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
        padding: 0.8rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

// remnants of nav link to delete most likely on clean up 
.active {
    color: inherit;
    font-weight: 600;
}

.pending {
    color: inherit;
    text-decoration: none;
}