@use '../../scss/abstracts/variables' as v;

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
        padding: 0.8rem;

        &:hover {
            text-decoration: underline;
        }
        &.active {
            color: v.$primary_color;
            font-weight: 600;
        }
    }
}

// remnants of nav link to delete most likely on clean up
